
<%= link_to 'New Link', new_link_path %>

<div id="main-container" class="container-fluid">
  <div class="row-fluid">
    <div class="row greeting">
      <div class="col-lg-2">
        <p id="notice"><%= notice %></p>

        <h1>The Links</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Given url</th>
              <th><%= sortable "slug" %></th>
              <th><%= sortable "clicks" %></th>
              <th><%= sortable "title" %></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @links.each do |link| %>
              <tr>
                <td><%= link.given_url %></td>
                <td><%= link.slug %></td>
                <td><%= link.clicks %></td>
                <td><%= link.title %></td>
                <td><%= link_to 'Show', link_path(:id => link.id) %></td>
                <td><%= link_to 'Edit', edit_link_path(link) %></td>
                <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
